.c-dashboard {
  &__wrapper {
    height: calc(100vh - 75px);
  }

  &__item {
    height: calc(100% - 30px);
    padding: $space-base;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    &__header {
      margin-bottom: $space-base;
      font-size: $font-size-l;
    }
  }
}
