.c-navigation {
  width: calc(100% - 30px);
  padding: $space-base;
  position: fixed;
  background-color: $purple-dark;

  @media (min-width: $mobile-min) {
    width: auto;
    position: relative;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media (min-width: $mobile-min) {
      flex-direction: column;
      justify-content: flex-start;
    }

    &__item {
      display: flex;
      padding: $space-base;
      position: relative;
      color: $gray-light;
      border-radius: $border-radius;
      transition: color $transition-time, background-color $transition-time;
      cursor: pointer;

      &:not(:first-of-type) {
        @media (min-width: $mobile-min) {
          margin-top: $space-base;
        }
      }

      &:hover {
        color: $white;
        background-color: $purple;
      }

      &:before {
        content: '';
        bottom: 0;
        right: 100%;
        width: $space-base;
        height: 100%;
        position: absolute;
        background-color: $purple;
        opacity: 0;
      }

      &--active {
        color: $white;
        background-color: $purple;

        @media (min-width: $mobile-min) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &:before {
          @media (min-width: $mobile-min) {
            opacity: 1;
          }
        }
      }
    }

    &__spacer {
      width: 100%;
      height: 1px;
      display: none;
      margin-top: $space-base;
      background-color: $gray-light;

      @media (min-width: $mobile-min) {
        display: flex;
      }
    }
  }
}
