.rbc-calendar {
  height: calc(100% - 35px);

  .rbc-toolbar {
    button {
      padding: $space-base / 2;
      cursor: pointer;
      outline-color: $purple;
    }
  }

  .rbc-event {
    background-color: $purple;
  }

  .rbc-today {
    background-color: lighten($purple, 25%);
  }

  .rbc-month-row {
    min-height: 100px;
  }

  .rbc-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rbc-toolbar {
    flex-direction: column;

    @media (min-width: $mobile-min) {
      flex-direction: row;
    }

    .rbc-toolbar-label {
      margin: 10px;

      @media (min-width: $mobile-min) {
        margin: 0;
      }
    }
  }
}
