.c-settings {
  &__menu {
    min-width: 100%;
    padding: $space-base 0;
    margin-bottom: $space-base;
    background-color: $white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    @media (min-width: $mobile-min) {
      min-width: 250px;
      margin-bottom: 0;
    }

    &__item {
      display: flex;
      padding: ($space-base / 2) $space-base;
      text-decoration: none;
      font-size: $font-size-m;
      color: $black;
      transition: $transition;
      cursor: pointer;

      &:hover {
        background-color: $white-dark;
      }

      &--selected {
        background-color: $white-dark;
        box-shadow: inset 4px 0px 0px 0px $purple;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $mobile-min) {
      flex-direction: row;
    }
  }

  &__content {
    width: 100%;

    @media (min-width: $mobile-min) {
      padding: 0 $space-base;
    }

    &__header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: $space-base;
      font-size: 20px;
    }

    &__form {
      @media (min-width: $desktop-large-min) {
        width: 50%;
      }

      &__actions {
        display: flex;
        justify-content: flex-end;
        margin-top: $space-base * 2;
      }
    }
  }
}
