.c-dialog {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow: auto;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.5);

  .c-dialog__close-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 102;
  }

  .c-dialog__wrapper {
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 103;
    background-color: #ffffff;
    border-radius: $border-radius;

    &--300 {
      max-width: 300px;
    }

    &--400 {
      max-width: 400px;
    }

    &--500 {
      max-width: 500px;
    }

    &--600 {
      max-width: 600px;
    }

    &__header {
      display: flex;
      padding: $space-base;
      color: $white;
      background-color: $purple;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

      &__close-button {
        margin-left: auto;
        cursor: pointer;
      }
    }

    &__inner {
      display: flex;
      flex-direction: column;
      padding: $space-base $space-base 0 $space-base;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      padding: $space-base;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
