.ui-form-input {
  display: flex;
  flex-direction: column;

  &:not(:first-of-type) {
    margin-top: $space-base;
  }

  &__title {
    display: flex;
    margin-bottom: $space-base / 2;
    color: $purple;
  }
}
