.ui-image-uploader {
  width: 100%;
  height: 200px;
  position: relative;
  box-sizing: border-box;
  border: 2px solid $border-light;
  border-radius: $border-radius;
  cursor: pointer;

  &__image {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  input {
    top: 0;
    position: absolute;
    opacity: 0;
  }
}
