.ui-list-item {
  display: flex;
  flex-flow: row;
  padding: $space-base;
  text-decoration: none;
  color: $black;
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: $purple;
  }

  &:not(:first-of-type) {
    margin-top: $space-base;
  }

  span {
    width: 50%;
    display: flex;
    align-items: center;

    &:not(:first-of-type) {
      margin-left: $space-base;
    }
  }

  &--small {
    padding: $space-base / 2;

    &:not(:first-of-type) {
      margin-top: $space-base / 2;
    }
  }

  &--error {
    color: $red;
  }

  &--alert {
    color: orange;
  }
}
