.ui-loader {
  z-index: 1;

  &--size-medium {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: $border-radius;
  }

  &--size-medium & {
    &_wrapper {
      top: -4px;
      width: 45px;
      position: relative;
    }

    &_dot {
      width: 8px;
      height: 8px;
      position: absolute;
      border-radius: 50%;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);

      &:nth-child(1) {
        left: 5px;
        animation: loader-scale-up 0.6s infinite;
      }

      &:nth-child(2) {
        left: 5px;
        animation: loader-move-medium 0.6s infinite;
      }

      &:nth-child(3) {
        left: 20px;
        animation: loader-move-medium 0.6s infinite;
      }

      &:nth-child(4) {
        left: 35px;
        animation: loader-scale-down 0.6s infinite;
      }
    }
  }

  &--color-white & {
    &_dot {
      background-color: $white;
    }
  }

  &--color-purple & {
    &_dot {
      background-color: $purple;
    }
  }

  &--background-color-white {
    background-color: $white;
  }

  &--background-color-purple {
    background-color: $purple;
  }

  &--background-color-red {
    background-color: $red;
  }

  &--static {
    width: auto;
    height: 200px;
    position: relative;
    background-color: transparent;
  }

  @keyframes loader-scale-up {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes loader-scale-down {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes loader-move-medium {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(15px, 0);
    }
  }
}
