.ui-page-empty-state {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 0;
  text-align: center;

  h2 {
    margin-top: $space-base * 3;
    font-size: $font-size-xxl;
    color: $purple;
  }

  p {
    margin-top: $space-base;
    color: $black;
  }
}
