.ui-select {
  display: flex;
  position: relative;
  cursor: pointer;

  &:before {
    top: 12px;
    right: 20px;
    content: '';
    width: 10px;
    height: 10px;
    border-left: 2px solid $border-light;
    border-bottom: 2px solid $border-light;
    position: absolute;
    transform: rotate(-45deg);
    z-index: 1;
  }

  &__select {
    width: 100%;
    padding: 10px 45px 10px 15px;
    position: relative;
    outline: none;
    font-size: $font-size-base;
    color: $black;
    background-color: $white;
    border: 2px solid $border-light;
    border-radius: $border-radius;
    transition: $transition;
    appearance: none;
    cursor: pointer;
  }
}
