.ui-slot-picker {
  display: flex;
  overflow-x: auto;

  &__day-column {
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-right: $space-base / 2;
    }

    &__name {
      padding: $space-base / 3;
      white-space: nowrap;
      color: $black;
      border-radius: $border-radius;
    }


    &__slot {
      display: flex;
      justify-content: center;
      margin-top: $space-base / 2;
      padding: $space-base / 3;
      background-color: transparentize($black, 0.8);
      border-radius: $border-radius;
      transition: $transition;
      cursor: pointer;

      &:hover {
        background-color: transparentize($black, 0.7);
      }

      &--selected {
        color: $white;
        background-color: $purple;

        &:hover {
          background-color: darken($purple, 5%);
        }
      }
    }
  }
}
