.c-landing-header {
  display: flex;
  align-items: center;
  padding: 40px 0;

  @media (min-width: $mobile-min) {
    height: 46px;
  }

  &__logo {
    font-family: Bangers;
    font-size: 28px;
    text-decoration: none;
    color: $white;

    &:hover {
      color: lighten($purple, 10%)
    }
  }
}
