.c-signin {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  font-family: 'FiraSans';
  background: linear-gradient(135deg, $landing-gray-light 0%, $landing-gray-dark 100%);

  &__content {
    margin: auto;
    padding: 30px 0;

    .h-inner {
      flex-direction: column;
    }
  }

  h1 {
    margin-bottom: 30px;
    font-size: 62px;
    font-weight: $font-weight-bold;
    text-align: center;
    line-height: 1.3;
    color: $white;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    background: linear-gradient(135deg, #282d32 0%, #181b1e 100%);
    border-radius: 10px;
    box-shadow: 10px 5px 16px 2px #0c0c0cbf;

    label {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      span {
        margin-bottom: 5px;
        font-size: $font-size-m;
        font-weight: $font-weight-regular;
        color: $white;
      }
    }
  }
}
