$button-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.19);

.button {
  display: flex;
  justify-content: center;
  padding: 7px 20px;
  position: relative;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  text-decoration: none;
  color: $white;
  border: none;
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: darken($purple, 2%);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &--filled-purple {
    background-color: $purple;
  }

  &--filled-red {
    background-color: $red;

    &:hover {
      background-color: darken($red, 6%);
    }
  }

  &--transparent {
    color: $purple;
    background-color: rgba($purple, 0.1);

    &:hover {
      background-color: rgba($purple, 0.2);
    }
  }
}

.landing-button {
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  border: none;
  border-radius: $border-radius;
  text-decoration: none;
  font-size: $font-size-base;
  color: #dedede;
  outline: none;
  cursor: pointer;
  transition: All 0.1s ease-out;

  &--filled {
    background: linear-gradient(135deg, rgb(40, 45, 50) 0%, rgb(27, 31, 35) 100%);
    box-shadow: $landing-box-shadow;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--text {
    &:hover {
      background: linear-gradient(135deg, rgb(40, 45, 50) 0%, rgb(27, 31, 35) 100%);
      box-shadow: $landing-box-shadow;
      transform: scale(1.1);
    }
  }

  &--with-border {
    border: 1px solid #333333;

    &:hover {
      border: 1px solid transparent;
    }
  }

  &--filled-purple {
    background: linear-gradient(135deg, $purple 0%, $purple-dark 100%);
  }

  &:active {
    box-shadow: 5px 2px 8px 2px #0c0c0cbf;
  }

  &:disabled {
    cursor: default;
    opacity: 0.7;

    &:hover {
      transform: none;
    }
  }
}
