// $purple: #4e58ab;
// $purple-dark: #2d335f;

$purple: #698bfc;
$purple-dark: #373858;
$white: #ffffff;
$white-dark: #ebf0f9;
$black: #1f1f1f;
$red: #fc103c;

$gray-light: #73748a;

$border-light: #d0d0d0;

$app-background: #f9fbfd;

$landing-gray-light: #282d32;
$landing-gray-dark: #181b1e;
