@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Light.ttf');
  font-weight: $font-weight-light;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Regular.ttf');
  font-weight: $font-weight-regular;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Bold.ttf');
  font-weight: $font-weight-bold;
}

@font-face {
  font-family: 'Bangers';
  src: url('../assets/fonts/Bangers-Regular.ttf');
  font-weight: $font-weight-regular;
}
