.h-inner {
  width: 100%;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 ($space-vertical * 2);
  box-sizing: border-box;

  &--horizontal {
    padding-top: $space-horizontal * 4;
    padding-bottom: $space-horizontal * 4;
  }
}
