.input {
  padding: 10px 15px;
  outline: none;
  font-size: $font-size-base;
  color: $black;
  border: 2px solid $border-light;
  border-radius: $border-radius;
  transition: $transition;

  &:focus {
    border-color: $purple;
  }

  &--textarea {
    min-height: 55px;
    resize: none;
    font-family: 'FiraSans';
  }
}

.landing-input {
  padding: 10px 15px;
  outline: none;
  font-size: $font-size-base;
  color: $white;
  background-color: transparentize($purple, 0.8);
  border: 2px solid $purple;
  border-radius: $border-radius;
  transition: $transition;

  &:focus {
    background-color: transparentize($purple, 0.9);
    box-shadow: 5px 2px 8px 2px #0c0c0cbf;
  }
}
