body {
  font-family: 'FiraSans';
  font-weight: $font-weight-regular;
  background-color: $app-background;
}

.c-page {
  padding: $space-base;
  margin-top: $header-height;

  @media (min-width: $mobile-min) {
    width: 100%;
    margin-top: 0;
  }
}
