.u-display {
  &--flex {
    display: flex;
  }
}

.u-margin-top {
  &--x3 {
    margin-top: $space-horizontal * 3;
  }
}

.u-margin-bottom {
  &--base {
    margin-bottom: $space-base;
  }
}

.u-margin-left {
  &--auto {
    margin-left: auto;
  }

  &--x2 {
    margin-left: $space-vertical * 2;
  }
}

.u-width {
  &--full {
    width: 100%;
  }
}

.u-color {
  &--white {
    color: $white;
  }

  &--purple {
    color: $purple;
  }
}

.u-background-color {
  &--white {
    background-color: $white;
  }
}

.u-cursor {
  &--pointer {
    cursor: pointer;
  }
}
