$space-vertical: 15px; // left/right
$space-horizontal: 10px; // top/bottom
$space-base: 15px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-m: 14px;
$font-size-base: 16px;
$font-size-l: 20px;
$font-size-xl: 28px;
$font-size-xxl: 34px;

$border-radius: 5px;
$box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);

$transition: All 0.2s ease-out;
$transition-time: 0.2s ease-out;

$mobile-min: 768px;
$desktop-large-min: 1200px;

$header-height: 90px;

$landing-box-shadow: 10px 5px 16px 2px #0c0c0cbf;
